<h1>About page</h1>

<img src="https://wallpaperstock.net/oasis-night-wallpapers_29277_1920x1200.jpg" height = 350px, width = 500px>

<p> Lorem Ipsum is simply dummy text of the printing and
typesetting industry.<br> Lorem Ipsum has been the industry's
standard dummy text ever since the 1500s, when an unknown printer
took a galley </p>

<%= link_to 'Home', root_path %>
