<h1>Welcome to my Home page</h1>

<img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Italian Trulli">

<p> Lorem Ipsum is simply dummy text of the printing and
typesetting industry.<br> Lorem Ipsum has been the industry's
standard dummy text ever since the 1500s, when an unknown printer
took a galley </p>


<%= link_to 'About', about_path%>
